 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- ---- Include the above in your HEAD tag -------- -->

<!--<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h2>Submission Guidelines</h2>
			<ul class="timeline">
				<li>
					<a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
					<a href="#" class="float-right">21 March, 2014</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
				<li>
					<a href="#">21 000 Job Seekers</a>
					<a href="#" class="float-right">4 March, 2014</a>
					<p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
				</li>
				<li>
					<a href="#">Awesome Employers</a>
					<a href="#" class="float-right">1 April, 2014</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
        </li>
        <li>
					<a href="#">Awesome Employers</a>
					<a href="#" class="float-right">1 April, 2014</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
        </li>
        <li>
					<a href="#">Awesome Employers</a>
					<a href="#" class="float-right">1 April, 2014</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div> -->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="content" >
  <section>
    <div class="container" > -->
        <!--list_1_start-->
        
        <!--list_3_end-->
        <!--list_4_start-->
        <!-- <div class="mrgn_btm_50">
            <ul><h1 class="text-center text-uppercase"><strong> Submission Guidelines </strong> </h1></ul>
            <div class="list4">
                <ol class="">
                    <li>If you do not have a problem getting on the adsf way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                    <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                </ol>
            </div>
        </div> -->
        <!--list_4_end-->
    <!-- </div>
  </section> -->
  <!-- <h2>This is a test</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
  <!-- </p> -->
<!-- </div> -->







<!------ Include the above in your HEAD tag ---------->

<!-- <body> -->
    <section class="blog-me pt-100 pb-100" id="blog">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 mx-auto text-center">
                  <div class="section-title mb-100">
                     <!-- <p>what i can do</p> -->
                     <h4>Submission GuideLines</h4>
                  </div>
               </div>
            </div>
            <!-- <div class="row">
               <div class="col-lg-4 col-md-6">
                  Single Blog
                  <div class="single-blog">
                     <div class="blog-img">
                        <img src="http://infinityflamesoft.com/html/abal-preview/assets/img/blog/blog1.jpg" alt="">
                        <div class="post-category">
                           <a href="#">Creative</a>
                        </div>
                     </div>
                     <div class="blog-content">
                        <div class="blog-title">
                           <h4><a href="#">Mobilies UX Treend</a></h4>
                           <div class="meta">
                              <ul>
                                 <li>04 June 2018</li>
                              </ul>
                           </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
                        <a href="#" class="box_btn">read more</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  Single Blog
                  <div class="single-blog">
                     <div class="blog-img">
                        <img src="http://infinityflamesoft.com/html/abal-preview/assets/img/blog/blog2.jpg" alt="">
                        <div class="post-category">
                           <a href="#">Creative</a>
                        </div>
                     </div>
                     <div class="blog-content">
                        <div class="blog-title">
                           <h4><a href="#">Mobilies UX Treend</a></h4>
                           <div class="meta">
                              <ul>
                                 <li>23 June 2018</li>
                              </ul>
                           </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
                        <a href="#" class="box_btn">read more</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  Single Blog
                  <div class="single-blog">
                     <div class="blog-img">
                        <img src="http://infinityflamesoft.com/html/abal-preview/assets/img/blog/blog3.jpg" alt="">
                        <div class="post-category">
                           <a href="#">Creative</a>
                        </div>
                     </div>
                     <div class="blog-content">
                        <div class="blog-title">
                           <h4><a href="#">Mobilies UX Treend</a></h4>
                           <div class="meta">
                              <ul>
                                 <li>31 July 2018</li>
                              </ul>
                           </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
                        <a href="#" class="box_btn">read more</a>
                     </div>
                  </div>
               </div>
            </div> -->




            <main>
              <section>
                  <div class="container">
                      <!--list_1_start-->
                      <!-- <div class="mrgn_btm_50">
                          <h3 class="text-center text-uppercase"><strong> List 01 </strong> </h3>
                          <div class="list1">
                              <ul class="list-unstyled">
                                  <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                                  <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                                  <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                              </ul>
                          </div>
                      </div> -->
                      <!--list_1_end-->
  
                      <!--list_2_start-->
                      <!-- <div class="mrgn_btm_50">
                          <h3 class="text-center text-uppercase"><strong> List 02 Icon Icofont </strong> </h3>
                          <div class="list2">
                              <ul class="list-unstyled">
                                  <li>If you do not have a problem getting on the adsf way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                                  <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                                  <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                              </ul>
                          </div>
                      </div> -->
                      <!--list_2_end-->
  
                      <!--list_3_start-->
                      <!-- <div class="mrgn_btm_50">
                          <h3 class="text-center text-uppercase"><strong> List 03 Icon Background image</strong> </h3>
                          <div class="list3">
                              <ul class="list-unstyled">
                                  <li>If you do not have a problem getting on the adsf way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                                  <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                                  <li>If you do not have a problem getting on the way with a few days notice, you should choose a quick start. Late arrivals are often really inexpensive because travel agencies want to fill all the places reserved for travel. At its lowest, you can go for a few hundred euros.</li>
                              </ul>
                          </div>
                      </div> -->
                      <!--list_3_end-->
                      <!--list_4_start-->
                      <div class="mrgn_btm_50">
                          <h3 class="text-center text-uppercase"><strong> General GuideLines </strong> </h3>
                          <div class="list4" style="font-size: medium;">
                              <ol class="">
                                  <li>Co-authorship up to two authors is allowed. Refrain from
                                    mentioning the name, institutional affiliation or any other
                                    detail of the author(s) in the document to facilitate the
                                    double-blind review process</li>
                                  <li>All works must be original and unpublished. Any form of
                                    plagiarism will lead to disqualification for publication on the
                                    Blog</li>
                                  <li>The word limit for the manuscript is 1500 words. This word
                                    limit is exclusive of the endnotes (if any). Longer posts may
                                    be accepted and published in parts subject to the discretion of
                                    the editors</li>
                                  <li>All references must be in the form of hyperlinks or in the form of footnotes in the body
                                    of the submission.Footnotes can be cited using any standard method.Hyperlinks should be provided to all
                                    supporting materials and legal texts for the benefit of the
                                    readers. In case no hyperlink is available for any reference,
                                    use of endnotes is recommended. No speaking endnotes or
                                    footnotes are allowed.</li>
                                  
                              </ol>
                          </div>
                          <br>
                          <h3 class="text-center text-uppercase"><strong> Formatting GuideLines </strong> </h3>
                          <div class="list4" style="font-size: medium;">
                           <ol class="">
                               <li>The title of the post should be formatted to <span style="font-family: 'Times New Roman'; font-size: 14px;">Garamond</span> font
                                 size 14, All Caps and in bold. The main body of the text
                                 should be formatted to<span style="font-family: 'Times New Roman'; font-size: 14px;"> Garamond </span>font size 12 with 1.5 line
                                 spacing with a single line space between paragraphs.</li>
                               <li>Submissions must be in a Word format (‘.doc’ or ‘.docx’).
                                 Ensure that the title of the document has been renamed to
                                 the title of the post</li>

                           </ol>
                       </div>
<br>
                       <h3 class="text-center text-uppercase"><strong> Review Process </strong> </h3>
                       <div class="list4" style="font-size: medium;">
                        <ol class="">
                            <li>All texts will go through a double-blind peer review. The review
                              process consists of two tiers – preliminary review and detailed
                              review.
                              </li>
                            <li>At the end of the preliminary review (“Tier 1”), the authors will
                              be informed of the decision of the editors – either accept or
                              reject. The decision at Tier 1 shall be communicated to the
                              authors within 5 days.
                              </li>
                              <li>If a text is accepted at Tier 1, the authors will be asked to consent
                                 to enter the detailed review process (“Tier 2”) for which they
                                 must confirm that the piece won’t be published on any other
                                 blog/website while being in our peer review process. The
                                 decision along with any amendments and suggestions shall be
                                 communicated to the authors at the earliest.</li>
                                 <li>If the text has been selected for publication, the authors will be
                                    expected to perform any necessary revision in good faith.
                                    Authors are also expected to be cooperative when it comes to
                                    minor editorial changes which might be necessary even after
                                    revision at Tier 2</li>
                        </ol>
                    </div>
<br>
                    <h3 class="text-center text-uppercase"><strong> Editorial Policy </strong> </h3>
                    <div class="list4" style="font-size: medium;">
                     <ol class="">
                         <li>The Blog follows a comprehensive double-blind review process.
                           The Board of Editors shall endeavour to keep the author(s)
                           informed about the current status of their manuscript as it goes
                           through each stage of review
                           </li>
                         <li>The Board of Editors retains complete discretion over
                           acceptance/rejection of manuscripts.
                           </li>
                           <li>The Board of Editors will not entertain requests for advance
                              decisions based on abstracts, topic proposals or outlines.
                              Editorial decisions shall be based solely on review of the final
                              manuscripts submitted by the author(s).</li>
                              <li>Post-review, manuscripts may be returned to the author(s) with
                                 suggestions related to substance and/or style. Acceptance of a
                                 manuscript for publication is contingent on the incorporation of
                                 such suggestions to the satisfaction of the Board of Editors.</li>
                                 <li>Upon acceptance of the manuscript for publication by the Board,
                                    the copyright over the manuscript is vested in the Blog.
                                    However, the moral rights over the manuscript shall vest in the
                                    author(s).</li>
                                    <li>Upon acceptance of the manuscript for publication, the same
                                       shall not be published on any other platform. The Blog only
                                       accepts exclusive publications.</li>
                     </ol>
                 </div>

                      </div>
                      <!--list_4_end-->
                  </div>
              </section>
          </main>
         </div>
      </section>
<!-- </body> -->