/* ul.timeline {
    list-style-type: none;
    position: relative;
    height: 100%;
    font-size: 20px;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #070707;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
} */


/*default_css_start*/
/* body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
.mrgn_btm_50{
    margin-bottom: 50px;
} */
/*list_1_start*/
/* .list1 ul li{
    padding: 0px 0px 20px 0px;
}
.list1 ul li:last-child{
    padding: 0px;
}
.list1 ul li:before{
    content: '\efac';
    font-family: 'icofont';
    color: orange;
    margin-right: 5px;
} */
/*list_1_end*/
/*list_2_start*/
/* .list2 ul li{
    padding: 0px 0px 20px 25px;
}
.list2 ul li:last-child{
    padding-bottom: 0px;
}
.list2 ul li:before{
    content: '\efac';
    font-family: 'icofont';
    color: orange;
    position: absolute;
    padding: 2px 0px 0px 0px;
    margin: 0px 0px 0px -25px;
} */
/*list_2_end*/
/*list_3_start*/
/* .list3 ul li{
    padding: 0px 0px 20px 0px;
}
.list3 ul li:last-child{
    padding-bottom: 0px;
}
.list3 ul li{
    background: url(../images/bg_list.jpg) no-repeat 0 6px;
    padding-left: 25px;
    overflow: hidden;
    display: inline-block;
} */
/*list_3_end*/
/*list_4_start*/
/* .list4 ol{
    padding: 0px;
    margin: 0px;
}
.list4 ol li{
    padding: 0px 0px 20px 27px;
    counter-increment: list;
    list-style-type: none;
    font-size: 150%;
    position: relative;
}
.list4 ol li:last-child{
    padding-bottom: 0px;
}
.list4 ol li:before{
    color: #070706;
    content: counter(list) ")";
    left: -10px;
    position: absolute;
    text-align: right;
    width: 26px;
    font-weight: bold;
} */
/*list_4_end*/


/* body, html {
    background-color: rgb(3, 3, 3);
    color: #fff;
    font-family: Arial;
  }
  
  .content {
    position: relative;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  .content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 60%;
    width: 300%;
    background-color: rgb(5, 5, 5);
  } */
  /* .content.effect:before {
    animation: reveal 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes reveal {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
   */



   .pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.mb-100 {
	margin-bottom: 50px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #070606;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.blog-img {
	position: relative;
}
.blog-img img {
	width: 100%;
}
.post-category a {
	display: inline-block;
	background-color: #FF7200;
	color: #fff;
	font-size: 15px;
	padding: 5px 20px;
}
.single-blog:hover img {
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}
.post-category {
	position: absolute;
	left: 0;
	bottom: 0;
}
.blog-content {
	padding: 30px 20px;
}
.single-blog {
	border: 1px solid #eee;
}
.blog-title h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}
.meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.meta {
	margin-bottom: 20px;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.blog-content a.box_btn {
	display: inline-block;
	background-color: #FF7200;
	padding: 5px 15px;
	color: #fff;
	text-transform: capitalize;
	margin-top: 20px;
}
a.box_btn::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #CC5B00;
	left: -100%;
	top: 0;
	-webkit-transition: .5s;
	transition: .5s;
	z-index: -1;
}
a.box_btn {
	overflow: hidden;
	z-index: 2;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
	text-decoration:none;
}
a.box_btn:hover::before {
	left: 0;
	z-index: -1;
}









