<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form>
  <label>
    <p class="label-txt">TTITLE</p>
    <input type="text" class="input" name="title" [(ngModel)]="title">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">IMAGE</p>
    <br>
    <input type="file" accept="image/png image/jpeg image/jpg" class="form-control" id="app1"  name="app1" (change)="preview($event)" [(ngModel)]="app2">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">LINK</p>
    <input type="text" class="input" name="link" [(ngModel)]="link">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit" (click)="submit()">submit</button>
</form>