
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<div class="container">
	<div class="row">
		<form role="form" id="contact-form" class="contact-form">
                    <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" [(ngModel)]="title" autocomplete="off" id="title" placeholder="Title">
                  		</div>
                  	</div>
                    	<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="author" autocomplete="off" id="author" placeholder="Author" [(ngModel)]="auth">
                  		</div>
                  	</div>
                      </div>
                      <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Heading1" [(ngModel)]="h1">
                  		</div>
                  	</div>
                    	<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="author" autocomplete="off" id="author" placeholder="Sub-heading1" [(ngModel)]="sh11">
                  		</div>
                  	</div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c1"></textarea>
                        </div>
                    </div>
                  </div>
                      <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Sub-heading2" [(ngModel)]="sh12">
                  		</div>
                  	</div>
                    	
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c2"></textarea>
                        </div>
                    </div>
                  </div>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Heading2" [(ngModel)]="h2">
                            </div>
                        </div>
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Sub-heading1" [(ngModel)]="sh21">
                  		</div>
                  	</div>
                    	
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c3"></textarea>
                  		</div>
                  	</div>
                    </div>

                    <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Sub-heading2" [(ngModel)]="sh22">
                  		</div>
                  	</div>
                    	
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c4"></textarea>
                  		</div>
                  	</div>
                    </div>



                    <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Sub-heading3" [(ngModel)]="sh23">
                  		</div>
                  	</div>
                    	
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c5"></textarea>
                  		</div>
                  	</div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Heading3" [(ngModel)]="h3">
                            </div>
                        </div>
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Sub-heading1" [(ngModel)]="sh31">
                  		</div>
                  	</div>
                    	
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c6"></textarea>
                  		</div>
                  	</div>
                    </div>

                    <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Sub-heading2" [(ngModel)]="sh32">
                  		</div>
                  	</div>
                    	
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c7"></textarea>
                  		</div>
                  	</div>
                    </div>



                    <div class="row">
                		<div class="col-md-6">
                  		<div class="form-group">
                            <input type="text" class="form-control" name="title" autocomplete="off" id="title" placeholder="Sub-heading3" [(ngModel)]="sh33">
                  		</div>
                  	</div>
                    	
                  	</div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                            <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Content" [(ngModel)]="c8"></textarea>
                  		</div>
                  	</div>
                    </div>
					<input type="file" accept="image/png image/jpeg image/jpg" class="form-control" id="app1"  name="app1" (change)="preview($event)" [(ngModel)]="app2">
                       <!-- <button (click)="save()">Upload pic</button> -->


                    <div class="row">
                    <div class="col-md-12">
                  <button type="submit" class="btn main-btn pull-right" (click)="cont()">Submit</button>
                  </div>
                  </div>
                </form>
	</div>
</div>